*boxmodel{
    padding:0;
    margin:0;
    font-size:40px;
}
.box{
    background-color: aqua;
    border: 30px solid black;
    padding: 1px;
    height: 40px;
    width: 80px;
    margin: 20px;
}
.one{
    background-color: aqua;
    border: 30px solid black;
    padding: 1px;
    height: 40px;
    width: 80px;
    margin: 20px;

}
.two{
    background-color: aqua;
    border: 30px solid black;
    padding: 1px;
    height: 40px;
    width: 80px;
    margin: 20px;
}
.three{
    background-color: aqua;
    border: 30px solid black;
    padding: 1px;
    height: 40px;
    width: 80px;
    margin: 20px;
}